html {
	font-family: sans-serif;
}
body {
	padding: 0 1em;
	max-width: 500px;
	margin: auto;
	border: 1px solid #cccccc;
}
button {
	color: #2385BC;
	font-weight: bold;
	padding: 0.2em 0.7em;
}
a {
	color: #2385BC;
}
a:visited {
	color: #0F257E;
}
a:hover {
	color: #316B8B;
}
.features {
	list-style-type: none;
	list-style-position: outside;
	padding: 0;
}
.features > li {
	margin: 0 -1em;
	padding: 1em;
	border-top: 1px solid #cccccc;
	clear: both;
	border-left: 5px solid white;
}
.features > li.supported {
	border-left-color: green;
}
.features > li:not(.supported) {
	border-left-color: red;
}
.features > li:not(.supported) button {
	pointer-events: none;
	opacity: 0.5;
}
.features > li.disabled {
	opacity: 0.4;
	border-left-color: white;
}
.features > li:nth-child(odd) {
	background-color: #eeeeee;
}
.features > li:nth-child(even) {
	background-color: #dddddd;
}
.features > li h3 {
	color: #2385bc;
	display: inline-block;
	margin-right: 0.25em;
}
.features > li img {
	width: 170px;
	max-height: 140px;
	float: left;
}

.icon:before {
	display: inline-block;
	color: black;
	font-weight: bold;
	font-size: 70%;
	margin: 0 0.25em;
}
.icon:hover:before {
	text-decoration: underline;
}
.spec:before {
	content: 'w3c';
}
.caniuse:before {
	content: 'caniuse';
}

#battery .indicator {
	width: 70px;
	height: 100px;
	border: 2px solid #2385BC;
	color: #fff;
	text-align: center;
	font-weight: bold;
	line-height: 140%;
	overflow: hidden;
	float: left;
}
#battery .indicator .inner {
	width: 70px;
	height: 100px;
	background-color: white;
	background-image: repeating-linear-gradient(-45deg,
		rgba(35,133,188,.8),
		rgba(35,133,188,.8) 10px,
		rgba(35,133,188,1) 10px,
		rgba(35,133,188,1) 20px);
	position: relative;
	top: 0;
	border-top: 2px solid #2385BC;
	margin-top: -2px;
}
#battery .time {
	height: 100px;
	margin-left: 100px;
}
#battery .time .chargedTime,
#battery .time .dischargedTime {
	font-weight: bold;
}

#speech .result::before {
	content: 'Result: ';
	font-weight: bold;
}

#sound-analysis canvas {
	border: 2px solid #2385BC;
	margin: 0 -2px;
	max-width: 100%;
}

#video-analysis canvas {
	display: none;
}

#video-analysis video {
	border: 8px solid white;
	margin: 0 -8px;
	background-color: white;
	width: 100%;
}

#speech-synthesis input {
	width: 100%;
	padding: 0.2em;
	border: 2px solid #cccccc;
}

#speech-synthesis input.start {
	border-color: #2385BC;
}

#speech-synthesis input.end {
	border-color: #cccccc;
}

#speech-synthesis input.error {
	border-color: red;
}

#compass .compass {
	width: 98px;
	height: 100px;
	background-color: #2385BC;
	border-top: 2px solid red;
}

#rotation .indicator {
	height: 98px;
	width: 96px;
	background-color: #2385BC;
	border-top: 2px solid red;
	border-right: 2px solid green;
	border-left: 2px solid yellow;

	-webkit-transform-origin: 50% 50%;
	-webkit-transform: perspective(0);
	-webkit-transform-style: preserve-3d;
	transform-origin: 50% 50%;
	transform: perspective(0);
	transform-style: preserve-3d;
}

#acceleration canvas {
	max-width: 100%;
}

#sound-generation label {
	display: block;
	font-style: italic;
}

#sound-generation input {
	width: 100%;
}

#pointer-lock .panorama {
	width: 100%;
	height: 150px;
	background-image: url('img/panorama.jpg');
	background-size: auto 100%;
}
#pointer-lock small {
	display: block;
	margin-bottom: 1em;
}

#context-menu {
	/* not yet supported */
	cursor: context-menu;
}

#drag-and-drop.over {
	background-color: #B5EB92;
}
#drag-and-drop .output {
	padding-left: 0;
	list-style-type: none;
}
#drag-and-drop .output > li {
	margin: 0.7em 0;
}
#drag-and-drop .output > li > span {
	background-color: white;
	display: block;
	width: 100%;
	color: #2385BC;
	padding: 0.2em 0.4em;
}

#offline-detection .indicator:before {
	display: inline-block;
	content: "offline";
	padding: 0.5em;
	background-color: red;
	text-align: center;
}

#offline-detection .indicator.online:before {
	content: "online";
	background-color: green;
}

*|*:fullscreen {
	position:fixed;
	top:0; right:0; bottom:0; left:0;
}
